.about-text {
  margin-top: 6%;
  margin-left: 11%;

  .about-heading{
    font-size: 54px;
    font-family:Coolvetica;
  }
  p {
    font-size: 20px;
    font-family: "Helvetica Neue";
  }

}

.flat-button {
  color: #BFACC8;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: 'Elianto';
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #BFACC8;
  margin-top: 25px;
  margin-left: 15px;

  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background: #BFACC8;
    color: black;
  }
}

.card {
  width: 35%;
  margin-left: 60%;
  margin-top: 3%;

  p {
    font-size: 20px;
    font-family: "Helvetica Neue", ;
  }

  Button {
    width: 100%;
    height: 80%;
    border: 1px solid #BFACC8;
    font-size: 54px;
    color: #BFACC8;
    border-radius: 20px;
    font-family: 'Elianto';
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #BFACC8;
      color: black;
    }
  }
}