.contact-page {
  width: 100%;
  margin-left:10%;
  margin-top:10%;

  .text-box{
    margin-top:5%;
  }

  h1 {
    color: #fff;
    font-size: 66px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &:before {
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -20px;
      opacity: 0.6;
    }

    &:after {
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  p{
    font-size: 30px;   
    line-height: 33px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 100;

  }

  .contact-grid{
    width:50%;
    margin-left: 40%;
  }

  .grid_container{  
    background-color: black;
  }


}
